@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}


@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

.swiper-pagination-bullet {
  @apply w-2 h-2 sm:w-3 sm:h-3 md:w-4 md:h-4 !important;
}



@import url('../components/Header/Header.styles.css');
@import url('../components/Footer/Footer.styles.css');
@import url('../components/ICarousel/AdvertisementCarousel/AdvertisementCarousel.styles.css');
@import url('../components/ICarousel/ResponsiveCarousel/ResponsiveCarousel.styles.css');
@import url('../components/CategorySection/CategorySection.styles.css');
@import url('../components/ProductCard/ProductCard.css');
@import url('../components/Modal/Modal.styles.css');
@import url('../app/category/Category.styles.css');